@model List<HomeworkResponse>

@{
    ViewData["Title"] = "Tareas completadas";
}

@(await Component.InvokeAsync("Menu"))
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
@if(Model.Count != 0)
{
    <div class="container mt-5">
        <h1 class="text-center mb-4">Tabla de tareas completadas</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Materia</th>
                    <th class="text-center" scope="col">Nombre de la tarea</th>
                    <th class="text-center" scope="col">Fecha de entrega</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var homework in Model)
                {
                    <tr>
                        <td class="text-center">@homework.Materia</td>
                        <td class="text-center">@homework.Nombre</td>
                        <td class="text-center">@homework.FechaLimite.Day - @homework.FechaLimite.Month - @homework.FechaLimite.Year</td>
                        <td class="text-center"><a class="btn btn-danger" asp-action="UncheckHomework" asp-route-id=@homework.IdTarea>Desmarcar como completada</a></td>
                    </tr> 
                }
                
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <p>Todavia no haz terminado ninguna tarea</p>
    </div>
}
    