@model DetailsHomework

@{
    ViewData["Title"] = "Detalles tarea";

    string dia = Model.FechaLimite.Day < 10? "0" + Model.FechaLimite.Day: Model.FechaLimite.Day.ToString();

    string mes = Model.FechaLimite.Month < 10? "0" + Model.FechaLimite.Month: Model.FechaLimite.Month.ToString();
}

<div>
    @if (TempData["Error"] != null)
    {
        <h2>@TempData["Error"]</h2>
    }
    <form id="form-create-hw" asp-action="PutHomework" method="Post">
        <h2 id="nombre" class="unhide">@Model.Nombre</h2>
        <input type="hidden" name="IdTarea" value=@Model.IdTarea> 
        <input 
            class="hide" 
            name=Nombre 
            type="text" 
            id="input-nombre" 
            value="@Model.Nombre"
            placeholder="Editar nombre"
        >
        <span class="val-error" id="nombre-error"></span>

        <p id="materia" class="unhide">@Model.Materia</p>
        <select id="materia-select" name="IdMateria" class="hide">
            @foreach(var subject in Model.Subjects)
            {
                @if(subject.Nombre == Model.Materia)
                {
                    <option value="@subject.IdMateria" selected>
                        @subject.Nombre
                    </option>
                }
                else
                {
                    <option value="@subject.IdMateria">
                        @subject.Nombre
                    </option>
                }
            }
        </select>
        <span class="val-error" id="materia-error"></span>

        <p id="descripcion" class="unhide">@Model.Descripcion</p>
        <textarea 
            id="input-tarea"
            class="hide" 
            name="Descripcion" 
            maxlength="700"
            placeholder="Editar descripcion"
        >@Model.Descripcion
        </textarea>
        <span class="val-error" id="error-descripcion"></span>

        <span id="text-fecha-limite" class="unhide">@dia - @mes - @Model.FechaLimite.Year</span>
        <input 
            id="fecha-limite"
            type="date" 
            class="hide" 
            value="@Model.FechaLimite.Year-@mes-@dia"
            name="FechaLimite"
        >
        <span class="val-error" id="error-date"></span>
    </form>

    <button id="btn-edit" class="unhide" onclick=hideInputs()>Editar</button>
    <button id="btn-cancell" class="hide" onclick=hideInputs()>Cancelar</button>
    <button id="btn-update" class="hide" onclick=validateCreateHomework()>Enviar</button>
</div>