@model DetailsHomework

@{
    ViewData["Title"] = "Tareas por realizar";
}
<link rel="stylesheet" href="~/css/Card.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .Card-card{margin-bottom:40px;}
</style>
@(await Component.InvokeAsync("Menu"))

<div class="content-agregarTarea">
    <a asp-action="Create" class="agregar-tarea">Agregar tarea</a>
</div>

@if (Model.Homework.Count == 0)
{
    <div class="no-tarea">
        <p>No tienes ninguna tarea pendiente</p>
    </div>
}

<div class="main-contenedor">
    <div class="container">
        <div class="row g-4">
            @foreach (var homework in Model.Homework)
            {
                string day = homework.FechaLimite.Day < 10
                ? "0" + homework.FechaLimite.Day
                : homework.FechaLimite.Day.ToString();

                string month = homework.FechaLimite.Month < 10
                ? "0" + homework.FechaLimite.Month
                : homework.FechaLimite.Month.ToString();

                <div class="col col-lg-4 Card-card" >
                    <div class="card h-100 border-danger">
                        <div class="card-header bg-danger text-white" id="nombre-@homework.IdTarea">@homework.Nombre</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted" id="materia-@homework.IdTarea">@homework.Materia</h6>
                            <p class="card-text" id="fecha-@homework.IdTarea">Fecha límite: @day/@month/@homework.FechaLimite.Year</p>
                            @{
                                if (homework.Descripcion.Length > 30)
                                {
                                    <p class="card-text">@homework.Descripcion.Substring(0,30)...</p>
                                    <div class="d-grid gap-2">
                                        <button href="#" class="btn btn-danger" id="ver-mas" onclick=verMas(@homework.IdTarea)>Ver más</button>
                                        <a class="btn btn-secondary mt-2" a asp-action="CompleteHomework" asp-route-id=@homework.IdTarea>
                                            Marcar como entregada
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <p class="card-text">@homework.Descripcion</p>
                                    <div class="d-grid gap-2">
                                        <button href="#" class="btn btn-danger" id="ver-mas" onclick=verMas(@homework.IdTarea)>Ver más</button>
                                        <a class="btn btn-secondary mt-2"  asp-action="CompleteHomework" asp-route-id=@homework.IdTarea>
                                            Marcar como entregada
                                        </a>
                                    </div>
                                }
                                <p class="hide" id="descripcion-@homework.IdTarea">@homework.Descripcion</p>
                            }


                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    
    

    <div id="contenedor-principal">
        <div id="contenedor-difuminado" class="oculto"></div>
        <div id="contenedor-tareas" class="oculto">

            @if (TempData["Error"] != null)
            {
                <h2>@TempData["Error"]</h2>
            }
            <form id="form-create-hw" asp-action="PutHomework" method="Post">
                <div class="modal-header bg-danger text-white">
                    <h2 id="nombre" class="unhide"></h2>
                </div>
                <div class="modal-body">
                    <input id="update-id" type="hidden" name="IdTarea">
                    <div class="hide" id="div-nombre">
                        <label for="nombreTarea" class="form-label">Nombre de la tarea</label>
                        <input class="hide form-control" name=Nombre type="text" id="input-nombre" placeholder="Editar nombre">
                    </div>
                    
                    <span class="val-error" id="nombre-error"></span>

                    <p id="materia" class="unhide"></p>
                    <div class="hide" id="div-materia">
                        <label for="materia" class="form-label" >Materia</label>
                        <select id="materia-select" name="IdMateria" class="hide form-select">
                            <option value="0"></option>
                            @foreach (var subject in Model.Subjects)
                            {
                                <option value="@subject.IdMateria">
                                    @subject.Nombre
                                </option>
                            }
                        </select>
                    </div>
                    
                    <span class="val-error" id="materia-error"></span>

                    <p id="descripcion" class="unhide"></p>
                    <div class="hide" id="div-descripcion">
                        <label for="descripcion" class="form-label">Descripción de la tarea</label>
                        <textarea id="input-tarea" class="form-control" name="Descripcion" maxlength="700"
                                  placeholder="Editar descripcion" rows="5">
                        </textarea>
                    </div>
                    
                    <span class="val-error" id="error-descripcion"></span>

                    <div class="hide" id="div-fecha">
                        <label for="fecha" class="form-label">Fecha de entrega</label>
                        <input id="fecha-limite" type="date" class="form-control" value="" name="FechaLimite">
                    </div>
                    <span id="text-fecha-limite" class="unhide"></span>
                    <span class="val-error" id="error-date"></span>

                </div>
                
            </form>
            <div class="modal-footer">
                <div id="btn-edit" class="unhide">
                    <button class="btn btn-danger" onclick=hideInputs()>Editar</button>
                </div>
                <div id="btn-cancell" class="hide">
                    <button  class="btn btn-secondary" onclick=hideInputs()>Cancelar</button>
                    <button id="btn-update" class="btn btn-danger" onclick=validateCreateHomework()>Enviar</button>
                </div>
                
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/oculto.js"></script>
</div>
