@model DetailsHomework

@{
    ViewData["Title"] = "Tareas por realizar";
}
<link rel="stylesheet" href="~/css/Card.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@(await Component.InvokeAsync("Menu"))

<div class="main-contenedor">
    <div class="content-agregarTarea">
        <a asp-action="Create" class="agregar-tarea">Agregar tarea</a>
    </div>

    @if (Model.Homework.Count == 0)
    {
        <div class="no-tarea">
            <p>No tienes ninguna tarea pendiente</p>
        </div>
    }
    <div class="card-container" id="gallery">
        <div class="row align-items-center justify-content-center mx-auto">
            @foreach (var homework in Model.Homework)
            {
                string day = homework.FechaLimite.Day < 10 
                    ? "0" + homework.FechaLimite.Day 
                    : homework.FechaLimite.Day.ToString();

                string month = homework.FechaLimite.Month < 10 
                    ? "0" + homework.FechaLimite.Month 
                    : homework.FechaLimite.Month.ToString();

            
                    <div class="col-12 col-lg-4 mb-4 mx-auto ">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                            <div class="card-body">
                            
                                    <h5 class="card-title" id="nombre-@homework.IdTarea">@homework.Nombre</h5>
                                    <h5 class="card-title" id="materia-@homework.IdTarea">@homework.Materia</h5>
                                    <h5 class="card-subtitle" id="fecha-@homework.IdTarea">Fecha límite: @day/@month/@homework.FechaLimite.Year</h5>
                            
                                @{
                                    if (homework.Descripcion.Length > 30)
                                    {
                                        <p class="card-text">@homework.Descripcion.Substring(0,30)...</p>
                                        <button class="btn btn-outline-success btn-sm" id="ver-mas" onclick=verMas(@homework.IdTarea)>Ver más</button>
                                        <a asp-action="CompleteHomework" asp-route-id=@homework.IdTarea class="btn btn-outline-danger btn-sm">
                                           Entregado
                                        </a>
                                    }
                                    else
                                    {
                                        <p class="card-text">@homework.Descripcion</p>
                                        <a asp-action="CompleteHomework" asp-route-id=@homework.IdTarea class="btn btn-outline-danger btn-sm">
                                            Entregado
                                        </a>
                                    }
                                    <p class="hide" id="descripcion-@homework.IdTarea">@homework.Descripcion</p>
                                }
                    
                    
                            </div>
                        </div>
                    </div>
           


               /* <div class="card">
                    <div class="card-header">
                        <h1 class="card-title" id="nombre-@homework.IdTarea">@homework.Nombre </h1>
                        <h2 class="card-title2" id="materia-@homework.IdTarea">@homework.Materia</h2>
                        <h3 class="card-subtitle" id="fecha-@homework.IdTarea">Fecha límite: @day/@month/@homework.FechaLimite.Year</h3>
                    </div>
                    <div class="card-body">
                        @{
                            if (homework.Descripcion.Length > 30)
                            {
                                <p class="card-text">@homework.Descripcion.Substring(0,30)...</p>
                                <button class="card-link" id="ver-mas" onclick=verMas(@homework.IdTarea)>Ver más</button>
                            }
                            else
                            {
                                <p class="card-text">@homework.Descripcion</p>
                            }
                            <p class="hide" id="descripcion-@homework.IdTarea">@homework.Descripcion</p>
                         }
                    
                    
                    </div>
                    <div class="card-footer">
                        <div class="checkbox-container">
                            <a asp-action="CompleteHomework" asp-route-id=@homework.IdTarea class="card-link mark-completed">
                                Marcar como entregado
                            </a>
                        </div>

                    </div>
                </div>*/
            }
         </div>
    </div>

    <div id="contenedor-principal">
        <div id="contenedor-difuminado" class="oculto"></div>
        <div id="contenedor-tareas" class="oculto">

            @if (TempData["Error"] != null)
            {
                <h2>@TempData["Error"]</h2>
            }
            <form id="form-create-hw" asp-action="PutHomework" method="Post">
                <h2 id="nombre" class="unhide">Investigar</h2>
                <input id="update-id" type="hidden" name="IdTarea">
                <input class="hide" name=Nombre type="text" id="input-nombre" placeholder="Editar nombre">
                <span class="val-error" id="nombre-error"></span>

                <p id="materia" class="unhide">Matematicas pa ingenieria II</p>
                <select id="materia-select" name="IdMateria" class="hide">
                    <option value="0">Seleccione una materia</option>
                    @foreach (var subject in Model.Subjects)
                    {
                        <option value="@subject.IdMateria">
                            @subject.Nombre
                        </option>
                    }
                </select>
                <span class="val-error" id="materia-error"></span>

                <p id="descripcion" class="unhide">
                    lspfjskpfipfhkpsfskfhwfhiewfhwkhwkhwipvhewuovdwhvgidvhewjvbhcgewibdhcgouewhewhviewhjdbvhdgviewhfbdvhdcgd
                </p>
                <textarea id="input-tarea" class="hide" name="Descripcion" maxlength="700"
                    placeholder="Editar descripcion">
        </textarea>
                <span class="val-error" id="error-descripcion"></span>

                <span id="text-fecha-limite" class="unhide">10/03/2003</span>
                <input id="fecha-limite" type="date" class="hide" value="" name="FechaLimite">
                <span class="val-error" id="error-date"></span>
            </form>

            <button id="btn-edit" class="unhide" onclick=hideInputs()>Editar</button>
            <button id="btn-cancell" class="hide" onclick=hideInputs()>Cancelar</button>
            <button id="btn-update" class="hide" onclick=validateCreateHomework()>Enviar</button>

        </div>
    </div>




    <script type="text/javascript" src="~/js/oculto.js"></script>
</div>
